.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App__header {
    height: 90px;
    font-size: 25px;
    background-color: #800000;
    color: #ffffff;
    padding: 26px;
    margin-bottom: 45px;
}

.App-intro {
  font-size: large;
}

.selectedField, .addedwhereClauseList {
  margin-top : 20px;
  margin-bottom : 40px;
  border : 1px solid #000000;
  border-radius : 5px;
  padding : 0px 20px 10px 10px;
}

.selectedField__container, .addedWhereClauseList__container {
  display : flex;
  flex-wrap: wrap;
}

.selectedField__child, .addedWhereClauseList__child {
  margin-right : 5px;
  margin-left : 5px;
  margin-bottom : 5px;
}

.selectedField__child__span, .addedWhereClauseList__child__span {
  margin-right : 8px;
}

.addedWhereClauseList__child {
  display : flex;
  align-items: center;
}

.WhereClauseForm__heading {
  margin-bottom : 25px;
}

.queryDisplay__codeBlock {
  text-align: left;
  background-color : #000000;
  color : #ffffff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
